<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TeamRandomizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TeamRandomizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <TeamRandomizer.Properties.Settings>
            <setting name="ToolbarBackground" serializeAs="String">
                <value>80, 80, 80</value>
            </setting>
        </TeamRandomizer.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <TeamRandomizer.Properties.Settings>
            <setting name="GoogleKey" serializeAs="String">
                <value>1y-eV3NUQ-rAqSiWAq-kc7WsHc16jPABGSLkYz_yZRuY</value>
            </setting>
            <setting name="GoogleSpreadSheetID" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="SummonerData" serializeAs="String">
                <value />
            </setting>
            <setting name="RandomizeType" serializeAs="String">
                <value>Simple</value>
            </setting>
            <setting name="GroupingSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="TeamSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value />
            </setting>
        </TeamRandomizer.Properties.Settings>
    </userSettings>
</configuration>